/*body{
    background-color:rgb(0, 0, 0);
}
#result{
    background-color:white;
    border:solid gray 2px;
    padding:10px;
    text-align:center;
    background-image:url();
    background-size:contain;
}
section{
    background-color:white;
    border:solid gray 2px;
    padding:10px;
    text-align:center;
}
form{

}*/