/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 
    body{
    background-color:rgb(0, 0, 0);
    background-image: url(img/bg1.jpg);  
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#result{
   
    border:outset gray 2px;
    padding:10px;
    text-align:center;
    
    background-size:contain;
}
section{
    
    border:solid gray 2px;
    padding:10px;
    text-align:center;
}
form{

}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    body{
    background: url(img/bg1.jpg)  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#result{
  
    border:solid gray 2px;
    padding:10px;
    text-align:center;
    
    background-size:contain;
}
section{
   
    border:solid gray 2px;
    padding:10px;
    text-align:center;
}
form{

}

}

/* Landscape phones and down */
@media (max-width: 480px) {
    body{
    background: url(img/bg1.jpg)  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#result{
    
    border:solid gray 2px;
    padding:10px;
    text-align:center;
    
    background-size:contain;
}
section{
    
    border:solid gray 2px;
    padding:10px;
    text-align:center;
}
form{

}

}
